<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">-->
        <meta name="viewport" content="initial-scale=1">
	    <link rel="stylesheet" href="common.css"> 
	    <link rel="stylesheet" href="experience.css"> 
    </head>

    <body>
        <div class="all-contents-wrapper">
            <div class="header">
                <div class="menu-wrapper">
                    <div class="menu-item" detail="profile">
                        <div class="menu-item-icon-wrapper" style="background-image:url('profile-icon-b.png');"></div>
                        <div class="menu-item-title-wrapper">Profile</div>
                    </div>
<!--
                    <div class="menu-item" detail="education">
                        <div class="menu-item-icon-wrapper" style="background-image:url('education-icon-b.png');"></div>
                        <div class="menu-item-title-wrapper">Education</div>
                    </div>
                    <div class="menu-item" detail="activity">
                        <div class="menu-item-icon-wrapper" style="background-image:url('paper-icon-b.png');"></div>
                        <div class="menu-item-title-wrapper">Activity</div>
                    </div>
-->
                    <div class="menu-item active" detail="experience">
                        <div class="menu-item-icon-wrapper" style="background-image:url('briefcase-icon-b.png');"></div>
                        <div class="menu-item-title-wrapper">Experience</div>
                    </div>
                    <div class="menu-item" detail="project">
                        <div class="menu-item-icon-wrapper" style="background-image:url('report-icon-b.png');"></div>
                        <div class="menu-item-title-wrapper">Project</div>
                    </div>
                </div>
            </div>

            <div class="body">
                <div class="body-contents-wrapper">
                    <div class="experience-item-container">
                        <div class="experience-item">
                            <div class="exp-work-company">AhnLab</div>
                            <div class="exp-work-period">2013.03 - 2013.08 </div>
                            <div class="exp-work-position">Intern</div>
                            <div class="exp-work-description">
                                i work every single day. good company
                                
                            </div>
                        </div>
                        
                        <div class="experience-item">
                            <div class="exp-work-company">Yonsei University</div>
                            <div class="exp-work-period">2014.01 - 2014.02 </div>
                            <div class="exp-work-position">Intern</div>
                            <div class="exp-work-description">
                                i work every single day. good company
                            </div>
                        </div>
                        
                        <div class="experience-item">
                            <div class="exp-work-company">AskStory</div>
                            <div class="exp-work-period">2014.02 - 2015.08 </div>
                            <div class="exp-work-position">Researcher</div>
                            <div class="exp-work-description">
                                i work every single day. good company
                            </div>
                        </div>
                        
                        <div class="experience-item">
                            <div class="exp-work-company">Ouniwang</div>
                            <div class="exp-work-period">2015.09 - 2016.12 </div>
                            <div class="exp-work-position">Researcher</div>
                            <div class="exp-work-description">
                                i work every single day. good company
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer">
                footer
            </div>
        </div>
    </body>
</html>